// Custom bootstrap variables must be set or imported *before* bootstrap.

 @import "bootstrap";


 .navbar {
    background-color: #9c27b0 !important;
    // color :white; 
  }


  .btn {
    background-color: #9c27b0 !important;
    color :white; 
  }

    .navbar-brand{
      color : white;
    }

    .h1{
      font-weight: bold;
    }